{
    "port": 8080,
    "updateIntervalSecs": 60,
    "accounts": [
        {
            "name": "Primary Residence",
            "email": "my@email.address",
            "password": "my-emporia-password"
        }
    ]
}
